#tip {
	width: auto;
	height: auto;
	padding-bottom: 4px;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

#tip .tipContent {
	padding: 4px 8px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	font-size: 11px;
	line-height: 14px;
}

#tip .tipArrow {
	width: 0;
	height: 0;
	position: absolute;
	border: 4px solid transparent;
}

#tip.top .tipArrow {
	left: 5px;
	border-width: 4px 4px 0;
	border-top-color: rgba(0,0,0,0.9);
}

#tip.bottom .tipArrow {
	left: 5px;
	top: -4px;
	border: 4px solid transparent;
	border-width: 0 4px 4px;
	border-bottom-color: rgba(0,0,0,0.9);
}

#tip.left .tipArrow {
	top: 50%;
	right: -4px;
	margin-top: -6px;
	border-width: 4px 0 4px 4px;
	border-left-color: rgba(0,0,0,0.9);
}

#tip.right .tipArrow {
	position: absolute;
	top: 50%;
	left: -4px;
	margin-top: -6px;
	border-width: 4px 4px 4px 0;
	border-right-color: rgba(0,0,0,0.9);
}
